.top{
	   width:1423px;height:28px;background:#f6f6f6;margin: 0 auto;
   }
.top .clearfix{
		width: 1000px;height:28px;margin:0 auto;
   }
.clearfix .notice_srcoll {
	width:250px;height:28px;float: left;line-height: 28px;
   }
.clearfix .notice_srcoll span{
	color: #666;float: left;display: inline-block;height:28px;width:50px;
   }
.clearfix .notice_srcoll ul{
	height: 28px;float: left;width:200px;display: inline-block;overflow: hidden;
   }
.notice_srcoll ul a{
	font-size: 12px;color: #000;
}
.notice_srcoll ul a:hover{
	color: red;
}
.clearfix .notice_srcoll ul li{
	float: left;
   }
.clearfix .top-nav{
	height: 28px;float: right;line-height: 28px;
   }
.clearfix .top-nav li{
	float: left;
   }
 .top-nav li span{
 	padding-left: 10px;padding-right: 10px;display: inline-block;
 }  
.top-nav li span a {
	color: #666;
}
.top-nav li a{
	color: #666;
}
.header{
	width:1000px;padding-top:20px;margin: 0 auto;height: 76px;
}
.header .header-l{
	float: left;
}
.header .header-l a{
	display: block;width:206px;height:46px;
}
.header .header-l a:hover{
	color: red;
}
.header .header-r{
	float: right;width:540px;height: 60px;position: relative;
}
.header .header-r dl{
	width: 180px;float: left;margin-top: 25px;text-align: center;
}
.header .header-r dl dt{
	display: inline-block;background:#CCCCCC;width:15px;height: 15px;border-radius: 50%;
	text-align: center;line-height: 15px;margin-left: 32px;
}
.header .header-r dl dd{
	color:#CCCCCC;
}
.header .header-r span{
	display: block;position: absolute;background: #CCCCCC;
}
.header .header-r span.active{
	background: #EF4141;
}
.header .header-r span:nth-child(1){
	width:83px;height: 2px;
	left:114px;top:33px; 
}
.header .header-r span:nth-child(2){
	width:83px;height: 2px;
	left:196px;top:33px;
}
.header .header-r span:nth-child(3){
	width:83px;height: 2px;
	right:163px;top:33px;
}
.header .header-r span:nth-child(4){
	width:83px;height: 2px;
	right:80px;top:33px;
}

.main{
	margin: 0 auto;width: 1000px;
}
.main h2{
	color: #000000;font-size: 20px;width: 100px;height: 40px;
	margin-top: 5px;
}
.main .main-t{
	width:998px;border: 1px solid #C7C7C7;position: relative;
	
}
.main .main-t .main-a{
	width: 100%;height: 37px;line-height: 37px;background: #E5E5E5;
}
.main .main-t .main-a li{
	float: left;
}
.main .main-t .main-a li:nth-child(1){
	width: 113px;
}
.main .main-t .main-a li:nth-child(2){
	width: 280px;
}
.main .main-t .main-a li:nth-child(3){
	width: 140px;
}
.main .main-t .main-a li:nth-child(4){
	width: 70px;
}
.main .main-t .main-a li:nth-child(5){
	width: 140px;
}
.main .main-t .main-a li:nth-child(6){
	width: 120px;
}
.main .main-t .main-b{
	width: 100%;height: 120px;line-height: 30px;
}
.main .main-t .main-b li{
	float: left;
}
.main .main-t .main-b li:nth-child(1){
	width: 113px;
}
.main .main-t .main-b li:nth-child(2){
	width: 280px;
}
.main .main-t .main-b li:nth-child(2) img{
	width:120px;height: 100px;
}
.main .main-t .main-b li:nth-child(3){
	width: 120px;color: #D20138;font-size: 16px;
}
.main .main-t .main-b li:nth-child(4){
	width: 70px;
}
.main .main-t .main-b li:nth-child(4) input:nth-child(2){
	width: 24px;line-height: 10px;
}
.main .main-t .main-b li:nth-child(4) input:nth-child(1){
	width: 21px;height: 21px;
}
.main .main-t .main-b li:nth-child(4) input:nth-child(3){
	width: 21px;height: 21px;
}
.main .main-t .main-b li:nth-child(5){
	width: 140px;text-align: center;
}
.main .main-t .main-b li:nth-child(6){
	width: 120px;
}
.main .main-t .main-b li:nth-child(6) i{
	margin-left: 25px;
}
.main .main-t .main-b-b{
	height: 20px;width: 300px;text-align: center;
	position: absolute;bottom: 1px;left: 0;display: none;
}
.main .main-t .main-b-b i{
	color: #E9609E;
}
.main .main-c{
	width: 100%;height: 160px;margin-top: 10px;
	border: 1px solid #CCCCCC;overflow: hidden;
}
.main .main-c p{
	margin-left: 730px;font-size: 12px;margin-top: 30px;margin-bottom: 5px;
	color: #CC0000;font-size: 16px;
}
.main .main-c .main-c-b{
	background: #E5E5E5;width: 100%;height: 81px;line-height: 51px;margin-top:41px;
}
.main-c .main-c-b a{
	width: 170px;height: 71px;background: #D9002E;
	line-height: 71px;text-align: center;float: right;
	color: #fff;font-size: 20px;
}
.main-c .main-c-b input{
	margin-right:30px ;margin-left: 20px;
}
.main-c .main-c-b i{
	margin-left: 10px;margin-right: 30px;
}
.header-r dl dt.active{
	background: #D40030;color: #fff;
}
.header-r dl dd.active{
	color: #D40030;
}