.top{
	   width:1423px;height:28px;background:#f6f6f6;margin: 0 auto;
   }
.top .clearfix{
		width: 1000px;height:28px;margin:0 auto;
   }
.clearfix .notice_srcoll {
	width:250px;height:28px;float: left;line-height: 28px;
   }
.clearfix .notice_srcoll span{
	color: #666;float: left;display: inline-block;height:28px;width:50px;
   }
.clearfix .notice_srcoll ul{
	height: 28px;float: left;width:200px;display: inline-block;overflow: hidden;
   }
.notice_srcoll ul a{
	font-size: 12px;color: #000;
}
.notice_srcoll ul a:hover{
	color: red;
}
.clearfix .notice_srcoll ul li{
	float: left;
   }
.clearfix .top-nav{
	height: 28px;float: right;line-height: 28px;
   }
.clearfix .top-nav li{
	float: left;
   }
 .top-nav li span{
 	padding-left: 10px;padding-right: 10px;display: inline-block;
 }  
.top-nav li span a {
	color: #666;
}
.top-nav li a{
	color: #666;
}
.header{
	width:1000px;padding-top:20px;margin: 0 auto;height: 76px;
}
.header .header-l{
	float: left;
}
.header .header-l a{
	display: block;width:206px;height:46px;
}
.header .header-l a:hover{
	color: red;
}
.header .header-c{
	float: left;padding-left:100px ;
}
.header .header-c input{
	width:300px;height:30px;border:2px solid #f70801;border-right:none ;float: left;outline:none;
}
.header .header-c button{
	float: left;height:36px;background:#f70801;color: #FFFEFC;font-size: 20px;border: none;outline:none;
}
.header .header-r{
	float: right;margin-right: 80px;position: relative;width: 123px;height:30px;line-height: 30px;
	text-align: center;border: 1px solid #eee;
}
.header .header-r i{
	padding-left:20px ;
}
.header .header-r p{
	position: absolute;width:20px;height:15px;border-radius: 5px 5px;background:#f70801;text-align: center;line-height: 15px;
	color: #fff;left:83px;top:0;
}
.menu{
	width:1423px;height:35px;background:#f70801;margin: 0 auto;position: relative;
}
.menu .menu-c{
	margin: 0 auto;width:1000px;height:35px;
}
.menu-c ul{
	height:35px;float: left;
}
.menu-c ul li{
	float: left;height:35px;line-height: 35px;padding:0 25px 0 25px ;
}
.menu-c ul li:nth-child(1){
	background:#CC0000;
}
.menu-c ul li:hover{
	background:#AA0000;
}
.menu-c ul li a {
	color: #fff;font-size: 16px;
}
.menu-c ul li i{
	color: #fff;font-size: 20px; 
}
.menu-c .menu-r{
	float: right;line-height: 35px;height:35px;width:100px;display: block;
}
.menu-c .menu-r i{
	color: #fff;
}
.menu-c .menu-r a{
	color: #fff;
}
.menu-c .menu-r a:nth-child(1) i{
	padding-left:3px ;
} 
.menu-c .menu-r a:nth-child(3) i{
	padding-right:5px ;
} 
.menu .fllist{
	width:1000px;height:250px;border:1px solid red;position: absolute;top:34px;left: 213px;display: none;z-index: 2;
	background:#fff;
}
.menu .fllist .fllist-a{
	width:16%;height: 100%;float: left;text-align: center;
}
.fllist .fllist-a a h2{
	font-size: 12px; color: #A9A9A9;margin:5px 0;
}
.fllist-a a:nth-child(1){
	width:150px;height: 60px;text-align: center;display: block;line-height: 60px;border-bottom: 1px dashed #E5E5E5;
}
.fllist-a a:nth-child(1) img{
	margin-top:5px;
}
.fllist-a a span{
	padding-left:5px ;font-size: 16px;color:#000000 ;
}
#banner{
	width:1423px;margin: 0 auto;position: relative;overflow: hidden;height: 340px;
}
#list1{
	width: 5000px;position: absolute;height: 340px;
}
#list1 li{
	width: 1423px;float: left;
}
#list2{
	position: absolute;left:700px;bottom: 15px;
}

#list2 li{
	display: block;width:20px;height: 20px;border-radius: 50%;background: #646464;
	float: left;margin: 0 10px;
}
#list2 li.active{
	background: #AA0000;
} 
#banner #pre{
	position: absolute;left: 300px;top:150px;height: 50px;width: 30px;border-radius: 5px 5px;background: #0055BB;text-align: center;
	line-height: 50px;display: none;
}
#banner #pre i{
	color: #fff;
}
#banner #next{
	position: absolute;right: 300px;top:150px;height: 50px;width: 30px;border-radius: 5px 5px;background: #0055BB;text-align: center;
	line-height: 50px;display: none;
}
#banner #next i{
	color: #fff;
}
#banner img{
	width:1423px;height: 340px;
}
.nav{
	background: #eee;width:1423px;height: 510px;
}
.nav #list3 li img{
	width:270px;height: 349px;float: left;margin-top: 30px;margin-left: 10px;
}
.nav .nav-r{
	width:570px;border: 2px solid #E1E1E1;float: left;margin-left: 200px;
}
.nav .nav-r #nav-r-t{
	width: 570px;height:400px;border-bottom: 2px solid #E1E1E1;
}
#nav-r-t #list3{
	width:570px;height:400px;position: relative;overflow: hidden;
}
#nav-r-t #list3 li{
	position: absolute;left: 0;top:0;width:545px;height:400px;
	opacity: 0;
	filter:alpha(opacity=0);
}
/*.list-l{
	text-align: center;
}*/
#nav-r-t #list3 li h2{
	font-size: 22px;margin-top: 50px;margin-left: 300px;
}
#nav-r-t #list3 li p{
	font-size: 12px;margin-top: 20px;margin-left: 300px;
}
.list-l .list-l-b{
	margin-top:20px ;
}
#nav-r-t #list3 li .span-l{
	float: left;color: #CC1111;font-size: 30px;margin-left:50px ;
}
#nav-r-t #list3 li .span-r{
	float: left;
}
#nav-r-t #list3 li .p-c{
	color:#CC1111;font-size: 20px;
	
}
.nav .nav-r #nav-r-b{
	width: 545px;height:100px;
}
.nav .nav-r #nav-r-b #list4{
	width: 545px;height:100px;
}
.nav .nav-r #nav-r-b #list4 li{
	float: left;width:100px;height:50px;margin: 0 10px 0 10px;
	
}
#nav-r-b #list4 li img{
	width:100px;height:50px;
}
.nav .nav-l{
	float: left;width:300px;height:505px;border:2px solid #eee;margin-left: 50px;
}
.nav .nav-l h2{
	color:#000;font-size: 18px;width:100%;height:40px;display: block;border-bottom: 2px solid #AA0000;line-height: 40px;
	
}
.nav .nav-l h2 i{
	color: #BB0000;font-size: 24px;
}
.nav-l .nav-l-c{
	width: 300px;height:165px;margin-top: 30px;
}
.nav-l .nav-l-c img{
	width:150px;height:150px;float: left;
}
.nav-l .nav-l-c .nav-l-c-r{
	width:100px;height:200px;float: left;margin-left: 20px;
}
.nav-l-c .nav-l-c-r p{
	color: #000000;font-size: 12px;margin-top:20px ;
} 
.nav-l-c .nav-l-c-r i{
	color: #AA0000;font-size: 24px;margin-top:20px ;
}
.nav-l-c .nav-l-c-r span{
	font-size: 12px;color: #000000;margin-top:20px ;
}
.nav-l-c .nav-l-c-r h3{
	display: block;width:80px;height: 30px;text-align: center;line-height: 30px;
	border-radius: 5px 5px;background:#AA0000;color: #fff;margin-top:20px ;
}
.nav-l #box{
	width:100%;height:180px;position: relative;
}
.nav-l #box #list5{
	width: 100%;height:147px;position: relative;overflow: hidden;
}
.nav-l #box #list5 li{
	width: 100%;height: 147px;position: absolute;left:0;top:0;
}
.nav-l #box #list5 li img{
	width:100%;height:147px;
}
#box #pre1{
	position: absolute;left:20px;top:95px;width: 20px;height: 30px;border-radius: 3px 3px;background:#003366;
	color: #fff;text-align: center;line-height: 30px;
}
#box #next1{
	position: absolute;right:20px;top:95px;width: 20px;height: 30px;border-radius: 3px 3px;background:#003366;
	color: #fff;text-align: center;line-height: 30px;
}
.nav-l .nav-a{
	width: 100%;
}
.nav-l .nav-a .nav-a-a{
	float: left;text-align: center;padding: 20px 25px 0 25px;
}
.nav-l .nav-a .nav-a-a i{
	font-size: 30px;color: #C83838;
}
.main{
	width:1423px;text-align: center;margin: 0 auto;height:1356px;margin-top:20px;position: relative;
}
.main h2{
	color: #000000;font-size: 26px;font-weight: 900;
}
.main h2 i{
	color: #C83838;font-size: 26px;margin-right: 5px;
}
.main p{
	color: #E6E6E6;font-size: 16px;
} 
.main .main-l{
	width:1000px;height:1300px;display: inline-block;
}
.main .main-l img{
	width:460px;height:400px;float: left;margin-left: 20px;margin-bottom: 20px;margin-top:20px;
}
.main .m-left{
	display: inline-block;width:345px;background:#000000;height: 3px;position: absolute;
	left:232px;top:25px;
}
.main .m-right{
	display: inline-block;width:335px;background:#000000;height: 3px;position: absolute;
	right:252px;top:25px;
}
.figure{
	width:1423px;margin:0 auto;text-align: center;position: relative;
}
.figure li{
	width: 300px;height:450px;float: left;margin-right: 30px;border: 2px solid #AAB2B5;margin-top:20px;
}
/*.figure li:nth-child(3n){
	margin-left:215px;
}*/
.figure li:nth-child(3n+1){
	margin-left:215px;
}
.figure li:hover{
   	border: 2px solid red;
}
.figure li img{
	width:300px;height:320px;
}
.figure li h3{
	color: #000000;font-size: 16px;margin-top: 20px;
}
.figure li h4{
	color: #AA0000;font-size: 12px;margin-top: 20px;
}
.figure li .figure-c-l{
	width:100%;height: 45px;line-height: 45px;
}
li .figure-c-l .f-left{
	float: left;font-size: 26px;
}
li .figure-c-l .f-right{
	float: right;font-size: 16px;
}
.figure h2{
	color: #000000;font-size: 26px;font-weight: 900;margin-top:20px ;
}
.figure h2 i{
	color: #C83838;font-size: 26px;margin-right: 5px;
}
.figure p{
	color: #E6E6E6;font-size: 16px;
}
.figure .h-left{
	display: inline-block;width:345px;background:#000000;height: 3px;position: absolute;
	left:232px;top:25px;
}
.figure .h-right{
	display: inline-block;width:345px;background:#000000;height: 3px;position: absolute;
	right:260px;top:25px;
}
.footer{
	width:1423px;margin:0 auto;
}
.footer .footer-t {
	text-align: center;
}
.footer .footer-c{
	text-align: center;
}
.footer .footer-c .f-a{
	float: left;width:150px;height: 200px;margin-top: 20px;border-right: 1px dotted #7D7D7D;
}
.footer .footer-c .f-a:nth-child(1){
	margin-left: 200px;
}
.footer-c .f-a a{
	color: #7A7772;font-size: 12px;margin-top:10px;display: block;
}
.footer-c .f-a a:nth-child(1){
	font-size: 16px;
}
.footer .footer-c .f-b{
	float: left;width: 80px;margin-left: 30px;margin-top:60px;
}
.footer .footer-c .f-c{
	float: left;margin-left: 20px;font-size: 20px;margin-top:70px;
}
.footer .footer-c .f-h{
	border-top:1px solid #A7A6AA ;display:inline-block;width: 1000px;height: 1px;
}
.footer .footer-b{
	text-align: center;width: 100%;
}
.footer .footer-b ul{
	width:1000px;height:40px;display: inline-block;
}
.footer .footer-b ul li{
	float: left;padding: 0 10px;border-left: 1px solid #555;margin-top:20px;
}
.footer .footer-b ul li a{
	color:#555 ;
}
.footer .footer-b .f-f a{
	color: #555;
}
.footer .footer-b .f-f span{
	color: #555;
}
.footer .footer-b p{
	color: #555;
}
.sidebar{
	position: fixed;height: 100%;width:36px;
	right: 0;top:0;
}
.sidebar .bar-t{
	position: absolute;top:50%;right: 0;
	margin-top: -72px;width: 36px;height: 144px;z-index: 999;
	
}
.sidebar .bar-t li{
	width: 36px;height: 36px;background:rgba(0,0,0,0.9);text-align: center;
	line-height: 36px;
}
.sidebar .bar-t span{
	position: absolute;left:17px;top: 35px;
	display: block;width: 15px;height: 15px;background: #CC0000;
	border-radius: 3px 3px ;text-align: center;line-height: 15px;color:#fff;
}
.sidebar .bar-t li i{
	color: #fff;font-size: 20px;cursor:pointer;
}
.sidebar .bar-b{
	position: absolute;bottom: -1px;right: 0;
	width: 36px;height: 144px;z-index: 999;
}
.sidebar .bar-b li{
	width: 36px;height: 36px;background:rgba(0,0,0,0.9);text-align: center;
	line-height: 36px;
}
.sidebar .bar-b li i{
	color: #fff;font-size: 20px;cursor:pointer;
}
.sidebar-a {
	position: absolute;width:257px;height: 228px;
	right: 36px;top: 0;border: 1px solid #C3C3C3;
	text-align: center;background: #E5E5E5;display: none;
}
.sidebar-a .sidebar-a-t{
	width: 257px;height: 100px;margin-top: 37px;
}
.sidebar-a .sidebar-a-t i{
	width: 74px;height: 74px;margin: 0 auto;font-size: 40px;
}
.sidebar-a .sidebar-a-t p{
	width: 257px;height: 60px;text-align: center;line-height: 60px;margin: 0 auto;
}
.sidebar-a .sidebar-a-t p a{
	width: 80px;height: 30px;text-align: center;line-height: 30px;color: #000;
	border: 1px solid #EEEEEE;color: #0000FF;
}
.sidebar-a .sidebar-a-b{
	width: 257px;height: 30px;margin:0 auto;
	background: #4E4E4E;
}
.sidebar-a .sidebar-a-b {
	width: 200px;height: 50px ; line-height: 30px;text-align: center;
	
}
.sidebar-a .sidebar-a-b a{
	display: inline-block;width: 80px;height: 30px;line-height: 30px;
	color: #fff;font-size: 16px;margin-top: 8px;
}
.sidebar .bar-t .gwc{
	display: inline-block;position: absolute;right: 36px;top: 42px;
	width: 80px;height: 30px;background:#626262;
	text-align: center;line-height: 30px;color: #fff;
	font-size: 14px;display: none;
}
.sidebar .bar-t .wdgz{
	display: inline-block;position: absolute;right: 36px;top: 77px;
	width: 80px;height: 30px;background:#626262;
	text-align: center;line-height: 30px;color: #fff;
	font-size: 14px;display: none;
}
.sidebar .bar-t .zxkf{
	display: inline-block;position: absolute;right: 36px;top: 114px;
	width: 80px;height: 30px;background:#626262;
	text-align: center;line-height: 30px;color: #fff;
	font-size: 14px;display: none;
}
.sidebar .bar-b .ewm{
	position: absolute;width:100px;height: 100px;
	bottom:46px ;right: 36px;display: none;
}
.sidebar .bar-b .ewm img{
	width: 100px;height: 100px;
}
.sidebar .bar-b .dcwj{
	display: inline-block;position: absolute;right: 36px;bottom: 72px;
	width: 80px;height: 30px;background:#626262;
	text-align: center;line-height: 30px;color: #fff;
	font-size: 14px;display: none;
	
}
.sidebar .bar-b .fhdb{
	display: inline-block;position: absolute;right: 36px;bottom: 36px;
	width: 80px;height: 30px;background:#626262;
	text-align: center;line-height: 30px;color: #fff;
	font-size: 14px;display: none;
	
}

