<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品详情</title>
	<script src="/static/js/jquery-1.12.3.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/js/jquery.fly.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.1.0.3.css">
	<script src="/static/js/index04.js"></script>
	<script src="/static/js/move.js"></script>
</head>
<body>
<div class="top">
	<div class="clearfix">

		<div class="notice_srcoll">
			<span>公告：</span>
			<ul>
				<li><a href="#">[公告]防诈骗提醒</a></li>
				<li><a href="#">[紧急通知！]关于短信发送异常的公告</a></li>
				<li><a href="#">APP签到积分规则使用调整</a></li>
				<li><a href="#">优品惠（优购物）5周年庆，盛大“聚”会</a></li>
			</ul>
		</div>


		<ul class="top-nav">
			{% if user %}
				<li>
					<span><a href="#">{{ user.phone }}</a></span>|

				</li>
				<li>
					<span><a href="{% url 'app:quit' %}">退出</a></span>|
				</li>
			{% else %}
				<li><span><a href="{% url 'app:register' %}">注册</a></span>|</li>
				<li><span><a href="{% url 'app:login' %}">登录</a></span>|</li>
			{% endif %}
			<li><span><a href="#">我的订单</a></span>|</li>
			<li><span><a href="#">我的关注</a></span>|</li>
			<li><span><a href="#">资讯</a></span>|</li>
			<li><span><a href="#">品牌馆</a></span>|</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/image/phone.png"/>&nbsp;&nbsp;<a href="#">手机优品惠</a></li>
		</ul>


	</div>

</div>
<div class="header">
	<div class="header-l">
		<a href="#" title="全球优品特卖优品惠"><img src="/static/image/logo.png"/></a>
		<a href="#"><img src="/static/image/logom.jpg"/></a>
	</div>
	<div class="header-c">
		<input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;请输入商品名称或货号"/>
		<button>搜索</button>
	</div>
	<div class="header-r">
		<a href="#"><img src="/static/image/gwc.png"/></a>
		<span>
			{% if user %}
				<a href="{% url 'app:cart' %}">我的购物车</a>
			{% else %}
				<a href="{% url 'app:login' %}">我的购物车</a>
			{% endif %}
		</span>
		<a href="#"><i class="iconfont">&#xe601;</i></a>
		<p>{{ number }}</p>
	</div>
</div>
<div class="menu">
	<div class="menu-c">
		<ul>
			<li><a href="{% url 'app:index' %}">首页</a></li>
			<li><a href="#"><i class="iconfont">&#xe620;</i>视频</a></li>
			<li><a href="#">食品</a></li>
			<li><a href="#">家居</a></li>
			<li><a href="#">美妆</a></li>
			<li><a href="#">服饰</a></li>
		</ul>
		<div class="menu-r">
			<a href="#"><i class="iconfont">&#xe716;</i></a>
			<a href="#">在售分类</a>
			<a href="#"><i class="iconfont">&#xe601;</i></a>
		</div>
	</div>
	<div class="fllist">
		<div class="fllist-a">
			<a href="#"><img src="/static/image/newsix_03.png"/><span>品质厨房</span></a>
			<a href="#"><h2>电视热销</h2></a>
			<a href="#"><h2>品质厨具</h2></a>
			<a href="#"><h2>厨房电器</h2></a>
			<a href="#"><h2>厨房用具</h2></a>
		</div>
		<div class="fllist-a">
			<a href="#"><img src="/static/image/newsix_05.png"/> <span>美食名声</span></a>
			<a href="#"><h2>电视热销</h2></a>
			<a href="#"><h2>品质厨具</h2></a>
			<a href="#"><h2>厨房电器</h2></a>
			<a href="#"><h2>厨房用具</h2></a>
		</div>
		<div class="fllist-a">
			<a href="#"><img src="/static/image/newsix_07.png"/><span>健康名声</span></a>
			<a href="#"><h2>电视热销</h2></a>
			<a href="#"><h2>品质厨具</h2></a>
			<a href="#"><h2>厨房电器</h2></a>
			<a href="#"><h2>厨房用具</h2></a>
		</div>
		<div class="fllist-a">
			<a href="#"><img src="/static/image/newsix_09.png"/><span>魅力穿戴</span></a>
			<a href="#"><h2>电视热销</h2></a>
			<a href="#"><h2>品质厨具</h2></a>
			<a href="#"><h2>厨房电器</h2></a>
			<a href="#"><h2>厨房用具</h2></a>
		</div>
		<div class="fllist-a">
			<a href="#"><img src="/static/image/newsix_11.png"/><span>珠宝收藏</span></a>
			<a href="#"><h2>电视热销</h2></a>
			<a href="#"><h2>品质厨具</h2></a>
			<a href="#"><h2>厨房电器</h2></a>
			<a href="#"><h2>厨房用具</h2></a>
		</div>
		<div class="fllist-a">
			<a href="#"><img src="/static/image/newsix_13.png"/><span>美服靓装</span></a>
			<a href="#"><h2>电视热销</h2></a>
			<a href="#"><h2>品质厨具</h2></a>
			<a href="#"><h2>厨房电器</h2></a>
			<a href="#"><h2>厨房用具</h2></a>
		</div>
	</div>
</div>
<div class="nav">
	<span>当前位置：</span><a href="#">首页</a><a href="#">美食</a><a href="#">生鲜食品</a><a
		href="#">海鲜水产</a><span>晓芹 海参超值抢购组 7袋70头</span>
</div>
<div class="main">
{#	{% for item in shop %}#}
{#		{% if item.id == int(page) %}#}
			<div class="main-l">
				<div id="smallImg">
					<img src="{{ shop.img }}" class="cc" id="img"/>
					<div id="smallArea"></div>
				</div>
				<div id="bigArea">
					<img id="bigImg" src="" width="600" height="600"/>
				</div>
				<ul id="list">
					<li>
						<img src="{{ shop.img1 }}" class="img01" id="img1"/>
					</li>
					<li>
						<img src="{{ shop.img2 }}" class="img02"/>
					</li>
					<li>
						<img src="{{ shop.img3 }}" class="img03"/>
					</li>
					<li>
						<img src="{{ shop.img4 }}" class="img04"/>
					</li>
				</ul>

			</div>

			<div class="main-r">
				<p>晓芹</p>
				<h2>晓芹 海参超值抢购组 7袋70头</h2>
				<div class="main-r-t">
					<div class="dd"> <span>价格</span> <span id="price">{{ shop.price }}</span><span class="price"></span></div>
					<br/>
					<span class="bb"><h6>优惠</h6><i>立减</i><h5>TV商品下单立减10元</h5></span><br/>
					<h3><i>包邮</i><span>订单金额满168元包邮</span></h3>
				</div>
				送至<select>
				<option>北京大兴区</option>
				<option>上海</option>
				<option>广州</option>
				<option>深圳</option>
				<option>南昌</option>
				<option>成都</option>
			</select><br/>
				数量
				<button class="mius">-</button>
				<input type="text" id="number" value="0"/>
				<button class="plus">+</button>
				{% if user %}
					<h4 shopid="{{ shop.id }}"><a href="#"><i class="iconfont">&#xe602;</i>加入购物车</a></h4>
				{% else %}
					<h4 shopid="{{ shop.id }}"><a href="{% url 'app:login' %}"><i class="iconfont">&#xe602;</i>加入购物车</a></h4>
				{% endif %}
				<i class="iconfont">&#xe607;&nbsp;&nbsp;&nbsp;</i>tv商品
			</div>
			</div>
{#		{% endif %}#}
{#	{% endfor %}#}
<div class="footer">
	<div class="footer-t">
		<img src="/static/image/footer_ad (1).jpg"/>
	</div>
	<div class="footer-c">
		<div class="f-a">
			<a href="#"><h3>新手上路</h3></a>
			<a href="#"><h3>新用户注册</h3></a>
			<a href="#"><h3>忘记密码</h3></a>
			<a href="#"><h3>购物流程</h3></a>
			<a href="#"><h3>购物流程</h3></a>
		</div>
		<div class="f-a">
			<a href="#"><h3>新手上路</h3></a>
			<a href="#"><h3>新用户注册</h3></a>
			<a href="#"><h3>忘记密码</h3></a>
			<a href="#"><h3>购物流程</h3></a>
			<a href="#"><h3>购物流程</h3></a>
		</div>
		<div class="f-a">
			<a href="#"><h3>新手上路</h3></a>
			<a href="#"><h3>新用户注册</h3></a>
			<a href="#"><h3>忘记密码</h3></a>
			<a href="#"><h3>购物流程</h3></a>
			<a href="#"><h3>购物流程</h3></a>
		</div>
		<div class="f-a">
			<a href="#"><h3>新手上路</h3></a>
			<a href="#"><h3>新用户注册</h3></a>
			<a href="#"><h3>忘记密码</h3></a>
			<a href="#"><h3>购物流程</h3></a>
			<a href="#"><h3>购物流程</h3></a>
		</div>
		<div class="f-b">
			<img src="/static/image/foot_ewm.jpg"/>
			手机优惠品<br/>
			(优购物)
		</div>
		<div class="f-c">
			<h3>400-707-0707</h3>
			<h4>周一自周五 09：00-18：00</h4>
		</div>
		<span class="f-h"></span>
	</div>

	<div class="footer-b">
		<ul>
			<li><a href="#">首页</a></li>
			<li><a href="#">关于优品惠</a></li>
			<li><a href="#">优购物</a></li>
			<li><a href="#">联系我们</a></li>
			<li><a href="#">招贤纳士</a></li>
			<li><a href="#">关于优品惠</a></li>
			<li><a href="#">招商专区</a></li>
			<li><a href="#">供应商入口</a></li>
			<li><a href="#">新人培训</a></li>
			<li><a href="#">友情链接</a></li>
			<li><a href="#">网站地图</a></li>
			<li><a href="#">资讯中心</a></li>
			<li><a href="#">评论</a></li>
			<li><a href="#">图片</a></li>
		</ul>
		<div class="f-f">
			<span>友情链接：</span>
			<a href="#">配眼镜</a>
			<a href="#">佐卡伊珠宝网</a>
			<a href="#">腕表名表</a>
			<a href="#">如何开网店</a>
			<a href="#">免费试用</a>
			<a href="#">钻戒网</a>
		</div>
		<p>顶起司法加深对降幅达上课厅进口成本厅反倒是能否里看到淑女坊顶层 硒鼓剧本导致城西 </p>
		<p>copyright2017-2017 公司倒萨发三道坎叫撒发苛本地卡是否但是蚶阿斯蒂芬 捷克队是你把卡甲方工</p>
		<p>贝多芬萨芬礚一桍； 范甘迪双方各城 飘带就是你地方中型坦克一票面互相帮助越来越大</p>
		<p>几点思考发的是否电脑剧本分手大师在</p>
	</div>
</div>
<div class="sidebar">
	<ul class="bar-t">
		<li>
			<i class="iconfont">&#xe7e4;</i>
			<div class="sidebar-a">
				<div class="sidebar-a-t">
					<a><i class="iconfont">&#xe7e4;</i></a>
					<p>你好！请<a href="{% url 'app:login' %}">登录 ｜</a><a href="{% url 'app:register' %}">注册</a></p>
				</div>
				<div class="sidebar-a-b">
					<a href="#">我的订单</a>
					<a href="#">优惠劵</a>
				</div>
			</div>
		</li>
		<li><i class="iconfont" id="end">&#xe604;</i>
		{% if user %}
			<a href="{% url 'app:cart' %}" class="gwc"><p>购物车</p></a>
		{% else %}
			<a href="{% url 'app:login' %}" class="gwc"><p>购物车</p></a>
		{% endif %}
		</li>
		<li><i class="iconfont">&#xe603;</i><a href="#" class="wdgz"><p>我的关注</p></a></li>
		<li><i class="iconfont">&#xe640;</i><a href="#" class="zxkf"><p>在线客服</p></a></li>
		<span>{{ number }}</span>
	</ul>
	<ul class="bar-b">
		<li><i class="iconfont">&#xe62c;</i><a href="#" class="ewm"><img src="/static/image/foot_ewm.jpg"/></a></li>
		<li><i class="iconfont">&#xe683;</i><a href="#" class="dcwj"><p>调查问卷</p></a></li>
		<li><i class="iconfont">&#xe60f;</i><a href="#" class="fhdb"><p>返回顶部</p></a></li>


	</ul>


</div>
</body>
</html>
